@media all
{
  body {
    font:13pt serif;
    max-width: 100%;
    margin: 10px 8% 10px 8%; 
    text-align: justify;
    text-justify:inter-ideograph;
    line-height: 1.3;  
    padding: 0;
  }
/* body #content {
      padding-top: 45px;
    }
    body .title {
      margin-left: 120px;
    }  
  pre.example {
  text-lid #A0A0A0;
  padding: 1ch;
  display: block;
}

p {
  margin-left: auto;
  margin-right: auto;
}

pre {
    border: 1pt solid #AEBDCC;
    background-color: #F3F5F7;
    padding: 5pt;
    font-family: monospace;
    font-size: small;
    overflow:auto;
}


    body #content {
      padding-top: 45px;
    }
    body .title {
      margin-left: 120px;
    }
*/
  /* TOC inspired by http://jashkenas.github.com/coffee-script */
  #table-of-contents {
    font-size: 10pt;
    position: fixed;
    right: 0em;
    top: 0em;
    background: white;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    text-align: right;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto; }
    #table-of-contents h2 {
      font-size: 10pt;
      max-width: 8em;
      font-weight: normal;
      padding-left: 0.5em;
      padding-left: 0.5em;
      padding-top: 0.05em;
      padding-bottom: 0.05em; }
    #table-of-contents #text-table-of-contents {
      display: none;
      text-align: left; }
    #table-of-contents:hover #text-table-of-contents {
      display: block;
      padding: 0.5em;
      margin-top: -1.5em; }
  #license {
    padding: .3em;
    border: 1px solid grey;
    background-color: #eeeeee;
  }

.centered table {
      margin-left: auto;
      margin-right: auto;
 text-align:left;
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 14px;
  word-wrap: break-all;
}


table,th,td {
  border-bottom: 3px solid #ddd;
  border-right: 1px solid #eee;
}



.highlight table {
  margin: 0;
  width: auto;
  border: none;
}


 
code {
  font-family: consolas, Menlo, "PingFang SC", "Microsoft YaHei", monospace;
}
code {
  padding: 2px 4px;
  word-break: break-all;
  color: #555;
  background: #eee;
  border-radius: 4px;
  font-size: 13px;
}
  h1 {
    text-align:left;  
    font-family:Sans;
    font-size:2.1em;
    font-weight:bold;
    padding:0 0 30px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 7%;
  }

/*
  h2:before {
    content: "* "
  }

  h3:before {
    content: "** "
  }

  h4:before {
    content: "*** "
  }
*/

  h2 {
    text-align:left;
    font-family:Arial,sans-serif;
    font-size:1.45em;
    font-weight:bold;
    line-height:16px;
    padding:7px 0 0 0;
    color: #7C0000;
  }

  .outline-text-2 {
    margin-left: 0.1em
  }

  .title {
 color: #990000;  
    padding-bottom: 7px;  
    margin-bottom: 20px;  
    border-bottom: 1px solid #222;  
  }

  h3 {
      text-align:left;
    font-family:Arial,sans-serif;
    font-size:1.3em;
    font-weight:bold;
    color: #00046E;
    margin-left: 0.6em;
  }

  .outline-text-3 {
    margin-left: 0.9em;
  }

  h4 {
      text-align:left;
    font-family:Arial,sans-serif;
    font-size:1.2em;
    font-weight:bold;
    margin-left: 1.2em;
    color: #00574F;
  }
.box {
    padding: 2% 8% 5% 8%;
    border: 1px solid LightGrey;
}


li {
    margin-left: 10px;
}


blockquote{
    display: block;
    top: 77px;
    padding: 5pt;
    text-align: justify;
    max-width:90%;
    padding-left: 10px;
    margin-left: 15px;
    background-color: #eee;
    box-shadow: 10px 10px 10px #888;
    z-index: 98;
}



  .outline-text-4 {
    margin-left: 1.45em;
  }

  a {
    text-decoration: none;
  }

  a:visited {
    text-decoration: none;
  }

  a:hover {

  }

  .todo {
    color: #CA0000;
  }

  .done {
    color: #006666;
  }

  .timestamp-kwd {
    color: #444;
  }


  .tag {
    float: right;
    color: #0E410E;
    font-size: 0.9em;
  }

  .tag span:before {
    content: ":";
  }

  .tag:after {
    content: ":";
  }

  li {
    margin: .4em;
  }

  table {
    border: none;
  }

  td {
    border: none;
  }

  th {
    border: none;
  }

  code {
    font-size: 100%;
  }

  img {
    border: none;
  }

  .share img {
    opacity: .4;
    -moz-opacity: .4;
    filter: alpha(opacity=40);
  }

  .share img:hover {
    opacity: 1;
    -moz-opacity: 1;
    filter: alpha(opacity=100);
  }

  /* pre {border: 1px solid #555; */
  /*      background: #EEE; */
  /*      font-size: 9pt; */
  /*      padding: 1em; */
  /*     } */

  /* pre { */
  /*     color: #e5e5e5; */
  /*     background-color: #000000; */
  /*     padding: 1.4em; */
  /*     border: 2px solid grey; */
  /* } */

  /* pre { */
  /*     background-color: #2b2b2b; */
  /*     border: 4px solid grey; */
  /*     color: #EEE; */
  /*     overflow: auto; */
  /*     padding: 1em; */
  /*  } */

  pre {
    color: black;
    background-color: #efefef;
    padding: 1.2em;
    border: 1px solid #dddddd;
    overflow: auto;
  }

  .org-info-box {
    clear:both;
    margin-left:auto;
    margin-right:auto;
    padding:0.7em;
    /* border:1px solid #CCC; */
    /* border-radius:10px; */
    /* -moz-border-radius:10px; */
  }
  .org-info-box img {
    float:left;
    margin:0em 0.5em 0em 0em;
  }
  .org-info-box p {
    margin:0em;
    padding:0em;
  }


  .builtin {
    /* font-lock-builtin-face */
    color: #f4a460;
  }
  .comment {
    /* font-lock-comment-face */
    color: #737373;
  }
  .comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #666666;
  }
  .constant {
    /* font-lock-constant-face */
    color: #db7093;
  }
  .doc {
    /* font-lock-doc-face */
    color: #b3b3b3;
  }
  .function-name {
    /* font-lock-function-name-face */
    color: #5f9ea0;
  }
  .headline {
    /* headline-face */
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
  }
  .keyword {
    /* font-lock-keyword-face */
    color: #4682b4;
  }
  .negation-char {
  }
  .regexp-grouping-backslash {
  }
  .regexp-grouping-construct {
  }
  .string {
    /* font-lock-string-face */
    color: #ccc79a;
  }
  .todo-comment {
    /* todo-comment-face */
    color: #ffffff;
    background-color: #000000;
    font-weight: bold;
  }
  .variable-name {
    /* font-lock-variable-name-face */
    color: #ff6a6a;
  }
  .warning {
    /* font-lock-warning-face */
    color: #ffffff;
    background-color: #cd5c5c;
    font-weight: bold;
  }
  pre.a {
    color: inherit;
    background-color: inherit;
    font: inherit;
    text-decoration: inherit;
  }
  pre.a:hover {
    text-decoration: underline;
  }

  /* Styles for org-info.js */

  .org-info-js_info-navigation
  {
    border-style:none;
  }

  #org-info-js_console-label
  {
    font-size:10px;
    font-weight:bold;
    white-space:nowrap;
  }

  .org-info-js_search-highlight
  {
    background-color:#ffff00;
    color:#000000;
    font-weight:bold;
  }

  #org-info-js-window
  {
    border-bottom:1px solid black;
    padding-bottom:10px;
    margin-bottom:10px;
  }



  .org-info-search-highlight
  {
    background-color:#adefef; /* same color as emacs default */
    color:#000000;
    font-weight:bold;
  }

  .org-bbdb-company {
    /* bbdb-company */
    font-style: italic;
  }
  .org-bbdb-field-name {
  }
  .org-bbdb-field-value {
  }
  .org-bbdb-name {
    /* bbdb-name */
    text-decoration: underline;
  }
  .org-bold {
    /* bold */
    font-weight: bold;
  }
  .org-bold-italic {
    /* bold-italic */
    font-weight: bold;
    font-style: italic;
  }
  .org-border {
    /* border */
    background-color: #000000;
  }
  .org-buffer-menu-buffer {
    /* buffer-menu-buffer */
    font-weight: bold;
  }
  .org-builtin {
    /* font-lock-builtin-face */
    color: #da70d6;
  }
  .org-button {
    /* button */
    text-decoration: underline;
  }
  .org-c-nonbreakable-space {
    /* c-nonbreakable-space-face */
    background-color: #ff0000;
    font-weight: bold;
  }
  .org-calendar-today {
    /* calendar-today */
    text-decoration: underline;
  }
  .org-comment {
    /* font-lock-comment-face */
    color: #b22222;
  }
  .org-comment-delimiter {
    /* font-lock-comment-delimiter-face */
    color: #b22222;
  }
  .org-constant {
    /* font-lock-constant-face */
    color: #5f9ea0;
  }
  .org-cursor {
    /* cursor */
    background-color: #000000;
  }
  .org-default {
    /* default */
    color: #000000;
    background-color: #ffffff;
  }
  .org-diary {
    /* diary */
    color: #ff0000;
  }
  .org-doc {
    /* font-lock-doc-face */
    color: #bc8f8f;
  }
  .org-escape-glyph {
    /* escape-glyph */
    color: #a52a2a;
  }
  .org-file-name-shadow {
    /* file-name-shadow */
    color: #7f7f7f;
  }
  .org-fixed-pitch {
  }
  .org-fringe {
    /* fringe */
    background-color: #f2f2f2;
  }
  .org-function-name {
    /* font-lock-function-name-face */
    color: #0000ff;
  }
  .org-header-line {
    /* header-line */
    color: #333333;
    background-color: #e5e5e5;
  }
  .org-help-argument-name {
    /* help-argument-name */
    font-style: italic;
  }
  .org-highlight {
    /* highlight */
    background-color: #b4eeb4;
  }
  .org-holiday {
    /* holiday */
    background-color: #ffc0cb;
  }
  .org-info-header-node {
    /* info-header-node */
    color: #a52a2a;
    font-weight: bold;
    font-style: italic;
  }
  .org-info-header-xref {
    /* info-header-xref */
    color: #0000ff;
    text-decoration: underline;
  }
  .org-info-menu-header {
    /* info-menu-header */
    font-weight: bold;
  }
  .org-info-menu-star {
    /* info-menu-star */
    color: #ff0000;
  }
  .org-info-node {
    /* info-node */
    color: #a52a2a;
    font-weight: bold;
    font-style: italic;
  }
  .org-info-title-1 {
    /* info-title-1 */
    font-size: 172%;
    font-weight: bold;
  }
  .org-info-title-2 {
    /* info-title-2 */
    font-size: 144%;
    font-weight: bold;
  }
  .org-info-title-3 {
    /* info-title-3 */
    font-size: 120%;
    font-weight: bold;
  }
  
 .org-mode-line {  
    /* mode-line */  
    color: #000000;  
    background-color: #bfbfbf;  
  }  
  .org-mode-line-buffer-id {  
    /* mode-line-buffer-id */  
    font-weight: bold;  
  }  
  .org-mode-line-highlight {  
  }  
  .org-mode-line-inactive {  
    /* mode-line-inactive */  
    color: #333333;  
    background-color: #e5e5e5;  
  }  

} /* END OF @media all */  
